* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    color: #272727;
}

/* universal font family */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* header styles */
header {
    background-color: #FDEEF1;
}

.websiteName {
    color: #000;
    font-size: 30px;
    font-weight: 700;
}

.websiteName-shop {
    color: #E55473;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 50px;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

/* banner style */
.banner {
    background-color: #FDEEF1;
    padding: 70px 200px 0;
    display: flex;
    justify-content: space-between;
}

.banner-details {
    padding-top: 60px;
}

.banner-title {
    font-size: 62px;
    font-weight: 700;
}

.banner-description {
    font-size: 13px;
    color: rgba(39, 39, 39, 0.60);
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner .banner-image {
    width: 500px;
}

.banner .shop-now {
    padding: 15px 20px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}


/* featured-section */
.featured-section {
    margin-top: 150px;
}

.featured-title {
    text-align: center;
    font-size: 30px;
}

.featured-description {
    text-align: center;
    font-size: 13px;
    color: rgba(39, 39, 39, 0.60);
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 100px;
}


/* tree section */
.flower-tree-section {
    justify-content: center;
    display: flex;
}

.pink-color-tree {
    width: 400px;
    height: 440px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-right: 20px;
}

.pink-tulip img {
    height: 360px;
    margin-top: 80px;
    margin-left: 60px;
}

.pink-color-tree>h3 {
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
}

.red-color-tree {
    width: 400px;
    height: 440px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-right: 20px;
}

.red-flower img {
    height: 360px;
    margin-top: 80px;
    margin-left: 25px;
}

.red-color-tree>h3 {
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
}

.yellow-color-tree {
    width: 400px;
    height: 440px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;

}

.yellow-tulip img {
    height: 360px;
    margin-top: 80px;
    margin-left: 60px;
}

.yellow-color-tree>h3 {
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
}


/* hot deal section */
.hot-deal {
    background-color: #FDEEF1;
    padding: 100px 200px 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.deal-details {
    margin: 100px 0 0 110px;
}

.deal-title {
    font-size: 30px;
    font-weight: 700;
}

.off {
    color: #E55473;
}

.deal-description {
    font-size: 13px;
    color: rgba(39, 39, 39, 0.60);
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.deal-image {
    width: 300px;
    margin-right: 100px;
}

.sign-up {
    padding: 15px 20px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 155px;

}


/* instagram section */
.instagram-section {
    margin-top: 150px;
}

.instagram-title {
    text-align: center;
    font-size: 30px;
}

.instagram-description {
    text-align: center;
    font-size: 13px;
    color: rgba(39, 39, 39, 0.60);
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 70px;
}


/* instagram flower section */
.instagram-flower-section {
    display: flex;
    justify-content: center;
}

.flower-one {
    width: 330px;
    height: 300px;
    margin-right: 20px;
}

.flower-two {
    width: 330px;
    height: 300px;
    margin-right: 20px;
}

.flower-three {
    width: 330px;
    height: 300px;
    margin-right: 20px;
}

.flower-four {
    width: 330px;
    height: 300px;
}


/* latest deal */




/* footer */
.footer {
    width: 100%;
    height: 400px;
    background-color: #000;
    margin-top: 100px;
    text-align: center;
    padding-top: 150px;
}

.footer h1 {
    color: #FFF;
}

.footer-text-color{
    color: #E55473;
}

.footer p {
    color: rgba(180, 179, 179, 0.9);
    line-height: 20px;
    padding-top: 20px;

}

.copyright{
   color: rgba(153, 152, 152, 0.9);
   font-size: 14px;
}